.field 
{
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
}
    
.field label 
{
    flex: 1; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    background-color: lightgray;
    padding: 10px; 
}

.field input {
    flex: 0.5;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
    vertical-align: middle;
    padding: 10px; 
}

input[type="submit"] {
    padding: 10px 12px;
    font-size: 14px;
    cursor: pointer;
    background-color:lightgray; 
}  