.navbar {
    background-color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0;
    padding: 0;
  }
  
  .nav-item a {
    text-decoration: none;
    color: black;
  }
  
  .search-bar-container {
    display: flex; /* Center the search bar */
    align-items: center; /* Center items vertically */
  }
  
  .search-bar {
    width: 300px; /* Increase the length */
    padding: 8px; /* Increase padding for better appearance */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .nav-buttons {
    display: flex;
    align-items: center;
  }
  
  .post-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  